<%- include('../partials/header') %>
    <h1>Edit Review</h1>
    <form id="review-form" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <label>Review:</label>
        <textarea name="content" value="<%=review.content%>"></textarea>
        <label>Rating:</label>
        <select name="rating" value="<%=review.rating%>">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <label>Activity Did:</label>
        <select name="activityDid" value="<%=review.activityDid%>">
            <option value="Hiking" selected>Hiking</option>
            <option value="Running">Running</option>
            <option value="Biking">Biking</option>
            <option value="Backpacking">Backpacking</option>
            <option value="Snowshoeing">Snowshoeing</option>
            <option value="Horseback riding">Horseback riding</option>
        </select>
        <input type="submit" value="Update Review">
    </form>
    <%- include('../partials/footer') %>