<%- include('../partials/header') %>
    <h1>Find your next trail</h1>
    <div class="container">
        <% trails.forEach(function(t) { %>
            <div class="list">
                <img src="<%= t.image %>" alt="picture of <%= t.name %>">
                <div>
                    <%= t.name %>&nbsp;|&nbsp;<%= t.location %>
                </div>
                <div>Length:&nbsp;<%= t.length %>&nbsp;miles&nbsp;|&nbsp;Difficulty:&nbsp;<%= t.difficulty %>
                </div>
                <div><a id="detail" href="/trails/<%= t._id %>"> More details</a></div>
            </div>
            <% }); %>
    </div>
    <%- include('../partials/footer') %>