<%- include('../partials/header') %>
<h1>Trails List</h1>
<table id="'list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Length(mile)</th>
            <th>Elevation Gain (ft)</th>
            <th>Difficulty</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
    <% trails.forEach(function(t) { %>
        <tr>
            <td><%= t.name %></td>
            <td><%= t.length %></td>
            <td><%= t.elevationGain %></td>
            <td><%= t.difficulty %></td>
            <td><%= t.location %></td>
            <td><a id="detail" href="/trails/<%= t._id %>"> More details</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>